Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#List" data-toc-modified-id="List-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>List</a></span><ul class="toc-item"><li><span><a href="#Access-Values-in-a-List" data-toc-modified-id="Access-Values-in-a-List-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Access Values in a List</a></span></li><li><span><a href="#Modify-a-List" data-toc-modified-id="Modify-a-List-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Modify a List</a></span><ul class="toc-item"><li><span><a href="#Change-Value-by-index" data-toc-modified-id="Change-Value-by-index-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Change Value by index</a></span></li><li><span><a href="#Append-List-Elements" data-toc-modified-id="Append-List-Elements-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Append List Elements</a></span></li><li><span><a href="#Delete-List-Elements" data-toc-modified-id="Delete-List-Elements-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Delete List Elements</a></span></li></ul></li><li><span><a href="#Basic-List-Operations" data-toc-modified-id="Basic-List-Operations-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Basic List Operations</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#Tuple" data-toc-modified-id="Tuple-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Tuple</a></span><ul class="toc-item"><li><span><a href="#Access-Values-in-a-Tuple" data-toc-modified-id="Access-Values-in-a-Tuple-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Access Values in a Tuple</a></span></li><li><span><a href="#Modify-Elements-in-a-Tuple" data-toc-modified-id="Modify-Elements-in-a-Tuple-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Modify Elements in a Tuple</a></span></li><li><span><a href="#Basic-Tuple-Operations" data-toc-modified-id="Basic-Tuple-Operations-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Basic Tuple Operations</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#Set" data-toc-modified-id="Set-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Set</a></span><ul class="toc-item"><li><span><a href="#Set-Difference,-union-and-intersection" data-toc-modified-id="Set-Difference,-union-and-intersection-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Set Difference, union and intersection</a></span></li><li><span><a href="#Add-or-pop-values-from-a-set" data-toc-modified-id="Add-or-pop-values-from-a-set-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Add or pop values from a set</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#Dictionary" data-toc-modified-id="Dictionary-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Dictionary</a></span><ul class="toc-item"><li><span><a href="#Access-Values-in-a-Dictionary" data-toc-modified-id="Access-Values-in-a-Dictionary-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Access Values in a Dictionary</a></span></li><li><span><a href="#Modify-Elements-of-a-Dictionary" data-toc-modified-id="Modify-Elements-of-a-Dictionary-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Modify Elements of a Dictionary</a></span><ul class="toc-item"><li><span><a href="#Add-Elements" data-toc-modified-id="Add-Elements-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>Add Elements</a></span></li><li><span><a href="#Delete-Elements" data-toc-modified-id="Delete-Elements-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span>Delete Elements</a></span></li></ul></li><li><span><a href="#Basic-Dictionary-Methods-(Built-in-functions)" data-toc-modified-id="Basic-Dictionary-Methods-(Built-in-functions)-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Basic Dictionary Methods (Built-in functions)</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#Examples" data-toc-modified-id="Examples-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Examples</a></span><ul class="toc-item"><li><span><a href="#Example-1:-Print-all-the-keys-of-dictionary" data-toc-modified-id="Example-1:-Print-all-the-keys-of-dictionary-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Example 1: Print all the keys of dictionary</a></span></li><li><span><a href="#Example-2:-Given-a-list,-check-element-frequency" data-toc-modified-id="Example-2:-Given-a-list,-check-element-frequency-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Example 2: Given a list, check element frequency</a></span></li><li><span><a href="#Example-3:-Sort-the-(key-value)-pair-by-value-in-descending-order" data-toc-modified-id="Example-3:-Sort-the-(key-value)-pair-by-value-in-descending-order-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Example 3: Sort the (key-value) pair by value in descending order</a></span></li><li><span><a href="#Example-4:--Student-Marks" data-toc-modified-id="Example-4:--Student-Marks-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Example 4:  Student Marks</a></span></li></ul></li></ul></div>

# Python Data Structures - Common Built in Data Structures

**After this class, you will know:**
 
* 1) What are Python built-in data structures?

---

* Data structures are basically structures which can hold some data together. In other words, they are used to store a collection of related data.

* There are built-in data structures in Python: **list**, **tuple**, **set** and **dictionary**. We will see how to use each of them and how they make life easier.

## List

* A **list** is a data structure that holds an ordered collection of items, i.e. you can store a **sequence** of items in a list. 

* List can be written as a list of comma-separated values (items) between square brackets. For example, `list1 = ['a', 'b', 'c', 1, 2 ...]`. You can put **any object** into a list, even a list. For example, `list1 = ['a, 'b', [1, 2] ...]`.

* Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a **mutable** data type, i.e. this type can be altered.

### Access Values in a List

To **access** values in lists, use the **square brackets** for **slicing** along with the index to obtain value available at that index.

**Example**

In [1]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

In [2]:
list1[0]

'physics'

In [ ]:
list2[1:5]

In [ ]:
list2[:5]

In [ ]:
list2[2:]

In [ ]:
list2[-1]

In [ ]:
list2[-3:-1]

### Modify a List
* list can be modified(mutable)
* tuple can no be mutable

#### Change Value by index

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list1

In [ ]:
list1[2] = 2001
list1

In [ ]:
list1[3] ='xyz'
list1

#### Append List Elements

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list1

In [ ]:
list1.append(2001) # append a new element at the end of the list
list1

In [ ]:
list1.append(2002) # append a new element at the end of the list
list1

#### Delete List Elements

To remove a list element, you can use either the `del` statement if you know exactly which element(s) you are deleting or the `remove()` method if you do not know.

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list1

In [ ]:
del list1[2]
print("After deleting value at index 2 : ")
list1

In [ ]:
list1.remove(2000)
list1

### Basic List Operations

![list-operation.png](Figures/list-operation.png)

In [3]:
l1 = [1, 2, 3, 1, 1]
l2 = [4, 5, 6]
l3 = l1 + l2
l3

[1, 2, 3, 1, 1, 4, 5, 6]

In [4]:
l3.count(4)

1

> For other **methods** in **list**, you can reference Python **API** [here](https://docs.python.org/3/tutorial/datastructures.html).

### Exercises

**Question1**. Define a function ``first_last(listA)`` that **returns** a list with the first and last element of a non-empty ``listA`` interchanged.

**Example** 
```py
first_last([1, 2, 3]) -> [3, 2, 1]
first_last(["a", "b", "c", "d"]) -> ["d", "b", "c", "a"]
```

**Hint** 
* To create a list with the same dimension of list1
```py
n = len(listA)
list0 = [0]*n
```

In [35]:
def first_last(listA):
    a = listA.pop()
    listA.append(listA[0])
    listA[0]= a
    return listA

In [37]:
result = first_last([1, 2, 3])
print(result)

[3, 2, 1]

In [38]:
result = first_last(["a", "b", "c", "d"])
print(result)

['d', 'b', 'c', 'a']

**Question2**. Define a function ``odd_numbers()``. The function iterates all the numbers from 0 to 20 using a **for loop** and **returns** all the odd numbers in a list `res`. 

**Hint** 
* ``list.append()`` is a built-in method in Python to store items into a list.

In [42]:
def odd_numbers():
    res = []
    for i in range(0,21,2):
        res.append(i)
    return res

In [43]:
odd_numbers()

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Tuple

* A **tuple** is a sequence of **immutable** Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are: the tuples **cannot be changed** unlike lists; and tuples use parentheses whereas lists use square brackets.

* Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values, i.e. the tuple of values used will not change.

In [19]:
tup1 = ('East',)
tup2 = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')

In [20]:
len(tup1)

1

### Access Values in a Tuple

* This is exactly the same as list. You can do the same access by indexing and slicing.

In [21]:
tup1[2:]

()

### Modify Elements in a Tuple

* Since Tuple is immutable, we **cannot** modify/add/delete elements in a tuple. Modification will generate error.

In [22]:
tup1 = ('East', 'West', 'North', 'South')

In [23]:
tup1[0]

'East'

In [24]:
tup1[0] = 'Middle'

TypeError: 'tuple' object does not support item assignment

* Even though you cannot change element in *Tuple*, you can change the object which is referenced by Tuple element.

In [4]:
a = ['iphone']
b = ['huawei']
c = ['samsung']
phone = (a, b, c)
phone

(['iphone'], ['huawei'], ['samsung'])

In [5]:
a.append('oppo')
phone

# A list is mutable. 
# Object "a" has become a list and any of the reference to it will change.

(['iphone', 'oppo'], ['huawei'], ['samsung'])

In [6]:
phone[0]

['iphone', 'oppo']

In [7]:
type(phone[0])

list

In [8]:
a = 'iphone'
b = 'huawei'
c = 'sumsung'
phone = (a, b, c)
phone

('iphone', 'huawei', 'sumsung')

In [3]:
a = a + 'oppo'
print(a)
print(phone)

# A string is immutable. 
# Even if the string is changed any of the references to the string will not change.

TypeError: can only concatenate list (not "str") to list

### Basic Tuple Operations

![tuple-operation.png](Figures/tuple-operation.png)

* Pay attention to (1, 2, 3) + (4, 5, 6). This is fine since the result is a new tuple, instead of updating tuple. Below will prove this is true.

In [51]:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
tup1 + tup2

(1, 2, 3, 4, 5, 6)

### Exercises

**Question1**.
Write a function called `tuple_stats` that takes in a tuple of integers as input and returns a tuple containing the following statistics in the same order:
1. The minimum value in the tuple.
2. The maximum value in the tuple.
3. The sum of all the values in the tuple.
4. The mean of all the values in the tuple.

**Example**
```py
tup1 = (3, 5, 1, 8, 2)
tuple_stats(tup1) -> (1, 8, 19, 3.8)
```

**Hint** 
* To find the minimum and maximum values in a tuple, you can use the built-in `min` and `max` functions in Python. For example, `min((3, 5, 1, 8, 2))` will return 1.

* To find the sum of all the values in a tuple, you can use a loop to iterate through each element in the tuple and add it to a running total. You can start the total at 0 and update it with each iteration of the loop.

* To find the mean of all the values in a tuple, you can divide the sum of all the values by the length of the tuple. You can use the len function to find the length of the tuple.

In [53]:
def tuple_stats(tup):
    a = min(tup)
    b = max(tup)
    c = 0
    for i in tup:
        c += i
    d = c/len(tup)
    return a, b, c, d

In [54]:
tup1 = (3, 5, 1, 8, 2)
tuple_stats(tup1)

(1, 8, 19, 3.8)

## Set

A **set** is another type of data structure with no duplicate items. We can apply mathematical set operations on sets.

In [9]:
a = set('abcthabcjwethddda')

In [10]:
a

{'a', 'b', 'c', 'd', 'e', 'h', 'j', 't', 'w'}

In [11]:
a[0]

TypeError: 'set' object is not subscriptable

In [2]:
a = set('abracadabra')
b = set('alacazam')

In [13]:
# unique letters in a
a

{'a', 'b', 'c', 'd', 'r'}

In [14]:
# unique letters in b
b

{'a', 'c', 'l', 'm', 'z'}

### Set Difference, union and intersection

In [15]:
a - b # letters in a but not in b

{'b', 'd', 'r'}

In [16]:
a | b  # letters in either a or b : a并b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [17]:
a & b  # letters in both a and b ：a交b

{'a', 'c'}

In [18]:
a ^ b  # letters in a or b but not both : a \ b - a & b

{'b', 'd', 'l', 'm', 'r', 'z'}

### Add or pop values from a set

In [3]:
a

{'a', 'b', 'c', 'd', 'r'}

In [4]:
a.add('p')
a

{'a', 'b', 'c', 'd', 'p', 'r'}

In [5]:
a.remove('c') # Removes the specified element from the set
a

{'a', 'b', 'd', 'p', 'r'}

In [6]:
b = a.pop() # Removes a random element from the set
print(b)
a

p

{'a', 'b', 'd', 'r'}

In [7]:
c = a.pop('a')
print(c)
a

TypeError: pop() takes no arguments (1 given)

### Exercises

**Question1**. Define a function ``group_student(set1, set2, left = True)``. The function **returns** a set: 
    
    1. Students who are in `set1` but not in `set2`, if `left=True` 
    2. Students who are in both `set1` and `set2` at the same time, if `left=False` 

**Hints** 
* Use `set1 = {...}` to create a set. 
* a - b returns items in a but not in b
* a & b returns items in both a and b

**Example** 

```py
python = {"Alice", "Bob", "Fiona", "Luke", "Tom"}
econ = {"Alice", "Blaire", "Courtney", "David", "Luke"}
group_student(python, econ) -> {'Bob', 'Fiona', 'Tom'}
```

In [66]:
def group_student(set1, set2, left = True):
    if left == True:
        return set1 - set2
    else:
        return a & b

In [67]:
python = {"Alice", "Bob", "Fiona", "Luke", "Tom"}
econ = {"Alice", "Blaire", "Courtney", "David", "Luke"}
group_student(python, econ)

{'Bob', 'Fiona', 'Tom'}

**Question2**. Write a function called `count_vowel` that takes in a string and return the number of **unique** vowels forming the string. This function is case sensitive, such that the maximum number of vowel is 10.


**Example**
```py
count_vowel("Hello World") -> 2
count_vowel("AAA nsn") -> 1
count_vowel("ll cnsnt") -> 0
count_vowel("aAeE") -> 4
```

**Hints**


* Vowels are "a","e","i","o","u" (in lowercase)
* You may use set("aAabB") to convert a list to set, where element are unique

In [68]:
def count_vowel(str_arg):
    str_arg = set(str_arg)
    count = 0
    vowel = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
    for i in str_arg:
        if i in vowel:
            count += 1
    return count

In [69]:
count_vowel("Hello World")

2

In [70]:
count_vowel("AAA nsn")

1

In [71]:
count_vowel("ll cnsnt")

0

In [72]:
count_vowel("aAeE")

4

## Dictionary

* A **dictionary** is like an address-book where you can find the address or contact details of a person by knowing only his/her name, i.e. we associate **keys** (name) with **values** (details).

* Note that you can use **only immutable objects (like strings) for the keys** of a dictionary but you can use either immutable or mutable objects for the values of the dictionary. This is because the key must be **unique** just like you cannot find out the correct information if you have two persons with the exact same name.

In [ ]:
# This is a dictionary, the names are the "keys", and emails are the "values".
dict1 = {'Alice': 'alice@uic.edu.hk', 'Bob': 'bob@uic.edu.hk'}

In [ ]:
dict1

In [ ]:
dict1['Alice']

In [ ]:
key1 = 'key1'

# init a dict
dict2 = {}

# add key, value to a dict
dict2[key1] = 'value1'

dict2

In [75]:
# This raises error, since key ['Alice'] is mutable.
dict3 = {['Alice']:'alice@uic.edu.hk', 'Bob':'bob@uic.edu.hk'}

TypeError: unhashable type: 'list'

In [76]:
# Dictionary key must be unique. Duplicate key is allowed.
dict4 = {'Alice': 'alice@uic.edu.hk', 
         'Bob': 'bob@uic.edu.hk', 
         'Alice': 'bob@uic.edu.hk'}

In [77]:
dict4

{'Alice': 'bob@uic.edu.hk', 'Bob': 'bob@uic.edu.hk'}

In [78]:
dict4['Alice']

'bob@uic.edu.hk'

### Access Values in a Dictionary

In [8]:
dict5 = {'Alice': 'alice@uic.edu.hk', 'Bob': 'bob@uic.edu.hk'}

In [9]:
# Now you access the key 'Alice'
dict5['Alice']

'alice@uic.edu.hk'

In [10]:
# If we attempt to access a data item with a key, which is not part of the dictionary, we get an error as follows:
dict5['Eric']

KeyError: 'Eric'

### Modify Elements of a Dictionary

#### Add Elements

In [93]:
# Add the new key-value pair
dict5['Eric'] = 'eric@uic.edu.hk'
dict5['Eric']

'eric@uic.edu.hk'

In [88]:
dict6 = {'Alice': 'alice@uic.edu.hk', 'Bob': 'bob@uic.edu.hk', 0: 'null'}
dict6[0]

'null'

In [94]:
dict5['Annie'] ='t330018003@mail.uic.edu.cn'
dict5

{'Alice': 'alice@uic.edu.hk',
 'Bob': 'bob@uic.edu.hk',
 'Eric': 'eric@uic.edu.hk',
 'Annie': 't330018003@mail.uic.edu.cn'}

#### Delete Elements

In [30]:
dict7 = {'Alice': 'alice@uic.edu.hk', 'Bob': 'bob@uic.edu.hk'}
del dict7['Bob'] # "Alice" entry with its values is deleted
dict7

{'Alice': 'alice@uic.edu.hk'}

In [31]:
dict7

{'Alice': 'alice@uic.edu.hk'}

In [11]:
dict8 = {}
dict8[1] = 'a'
dict8[2] = 'b'
dict8[2] = 'c'
dict8[2] = dict8[2] + 'd'
dict8

{1: 'a', 2: 'cd'}

### Basic Dictionary Methods (Built-in functions)

* Dictionary is a very important data structure. You probably will use it quite a lot during your implementation of the course project. You should be familiar with the dictionary API. Below lists the functions `Dictionary` offers, see [here](https://docs.python.org/3/library/stdtypes.html#typesmapping)

### Exercises

Create a dictionary `characterInfo` which includes the following information in the table. Note that Column A are string and Column B are integer.
<img src="./Figures/characterInfo.png" width = "380" align=center />

In [73]:
characterInfo = {}
characterInfo = {'Jason Bourne': 1,
                'Neo Anderson':2,
                 'Bruce Wayne':3,
                 'Tony Stark':4,
                 'James Bonds':5
                }

In [74]:
characterInfo

{'Jason Bourne': 1,
 'Neo Anderson': 2,
 'Bruce Wayne': 3,
 'Tony Stark': 4,
 'James Bonds': 5}

##  Examples

### Example 1: Print all the keys of dictionary

In [105]:
dict9 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6}
dict9.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6)])

In [99]:
dict9 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6}
for key_value_pair in dict9.items():
    print(key_value_pair)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)
('f', 6)

In [102]:
dict9 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6}
for (key, value) in dict9.items():
    print('Key is %s, and value is %d'% (key, value))

Key is a, and value is 1
Key is b, and value is 2
Key is c, and value is 3
Key is d, and value is 4
Key is e, and value is 5
Key is f, and value is 6

In [106]:
dict9 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6}
for key_value_pair in dict9.items():
    print('Key is %s, and value is %d'% (key_value_pair[0], key_value_pair[1]))

Key is a, and value is 1
Key is b, and value is 2
Key is c, and value is 3
Key is d, and value is 4
Key is e, and value is 5
Key is f, and value is 6

In [110]:
dict9 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6}
dict9.get('z', 100) # 100 is the default value when 'z' is not found in dic.

100

### Example 2: Given a list, check element frequency

In [117]:
# First, a more understandable way

list1 = [1, 1, 1, 2, 2, 3, 4, 4, 5, 5, 5, 5]
dict1 = {}
for element in list1:
    if element in dict1.keys():
        dict1[element] = dict1[element] + 1
    else:
        dict1[element] = 1
print(dict1)

{1: 3, 2: 2, 3: 1, 4: 2, 5: 4}

In [114]:
for (key, value) in dict1.items():
    print(key, ':', value)

1 : 3
2 : 2
3 : 1
4 : 2
5 : 4

In [ ]:
# Second, a more neat way

list1 = [1, 1, 1, 2, 2, 3, 4, 4, 5, 5, 5, 5]
dict1 = {}

for element in list1:
    dict1[element] = dict1.get(element, 0) + 1

In [ ]:
for (key, value) in dict1.items():
    print(key, ':', value)

* See the usage of *get* function [here](https://stackoverflow.com/questions/11041405/why-dict-getkey-instead-of-dictkey)

### Example 3: Sort the (key-value) pair by value in descending order

In [33]:
list2 = [5, 3, 8, 2, 0, 9]
sorted(list2, reverse=True)

[9, 8, 5, 3, 2, 0]

In [34]:
?sorted

In [35]:
tup_list = [(5, 4), (4, 2), (3, 1), (2, 2), (1, 3)]
sorted(tup_list, key=lambda x:x[1], reverse=True)

[(5, 4), (1, 3), (4, 2), (2, 2), (3, 1)]

In [36]:
dict1 = {1:3, 2:2, 3:1, 4:2, 5:4}
list3 = sorted(dict1.items(), key=lambda x:x[1], reverse=True)
print(list3)

[(5, 4), (1, 3), (2, 2), (4, 2), (3, 1)]

In [ ]:
dict1 = {1:3, 2:2, 3:1, 4:2, 5:4}
list4 = sorted(dict1.items(), key=lambda x:x[1], reverse=True)
for key, value in list4:
    print(key, ':', value)

In [ ]:
list5 = [1, 1, 1, 2, 2, 3, 4, 4, 5, 5, 5, 5]
dict1 = {}
for element in list5:
    dict1[element] = dict1.get(element, 0) + 1

list6 = sorted(dict1.items(), key=lambda x:x[1], reverse=True)
for key, value in list6:
    print(key, ':', value)

### Example 4:  Student Marks

In this example , you have to take the number of students as input, then ask grades for the three subjects ‘Physics’, ‘Maths’, and ‘History’. If the total grades for any student is less than 120 then print failed, or else say passed.

In [12]:
num = int(input('Enter the number of students:'))
data = {}
subjects = ('Physics', 'Maths', 'History')
for i in range(num):
    name = input('Enter the name of student %d: '%(i+1))
    grades = []
    for subject in subjects:
        grades.append(int(input('Enter grades of %s: '%subject)))
    data[name] = grades
    
for (name, grades) in data.items():
    total = sum(grades)
    print('Total grades for %s is: %d'% (name, total))
    if total < 120:
        print('%s failed'% name)
    else:
        print('%s passed'% name)

Enter the number of students:3
Enter the name of student 1: Annie
Enter grades of Physics: 99
Enter grades of Maths: 99
Enter grades of History: 99
Enter the name of student 2: Aquila
Enter grades of Physics: 59
Enter grades of Maths: 59
Enter grades of History: 59
Enter the name of student 3: Wei
Enter grades of Physics: 100
Enter grades of Maths: 100
Enter grades of History: 101
Total grades for Annie is: 297
Annie passed
Total grades for Aquila is: 177
Aquila passed
Total grades for Wei is: 301
Wei passed